<h1>LogIn Form</h1>

<!-- entropoliton sign -->
<% if (typeof message !== 'undefined') { %>
    <h4 style="color: red;"><%= message %></h4>
  <% } %>
  
<form action="" method="post" >

<input type="text" name="email" placeholder="Enter Your Email" required>
<br><br>

<input type="password" name="password" placeholder="Enter your password" required>
<br><br>

<input type="submit" value="LogIn">

</form>